* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('/img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1{
    color: white
}
h2{
    color: white
}
h3{
    color: white
}